.meal-container {
    padding: 10px;
    margin: 20px 0;
    border: 7px solid #2e8099;
    border-radius: 5px;
    background-color: rgb(255, 255, 255)
  }
  
  .meal-title {
    color: #333;
  }
  
  .meal-desc {
    color: #666;
  }
  
  .meal-date {
    color: #999;
    font-size: 0.8rem;
  }
  
  
  .meal-delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 4px;
  }
  
  .meal-delete-button:hover {
    background-color: #c23329; 
  }
  
  .view-button {
    background-color:#007bff;
    color: white; 
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .view-button:hover {
    background-color: #046fe0; /* Darker red */
  }

